[core]
	editor = nvim
	autocrlf = input
[alias]
        st = status
        aa = add .
        cm = commit -m
        rs = restore .
        lg = log --graph --decorate --oneline --abbrev-commit
        ri = rebase -i HEAD~10
